<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <span class="brand-text text-white d-block text-center">
      <strong>Aycashop Admin</strong>
    </span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="/" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>Home</p>
          </a>
        </li>
        <li class="nav-header">Master Data</li>
        <li class="nav-item">
          <a href="/banner" class="nav-link">
            <i class="nav-icon far fa-square"></i>
            <p>Banner</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/category" class="nav-link">
            <i class="nav-icon far fa-list-alt"></i>
            <p>Category</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/product-image" class="nav-link">
            <i class="nav-icon far fa-image"></i>
            <p>Product Image</p>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a href="/voucher" class="nav-link">
            <i class="nav-icon far fa-image"></i>
            <p>Voucher</p>
          </a>
        </li> -->
        <li class="nav-header">Product</li>
        <li class="nav-item">
          <a href="/product" class="nav-link">
            <i class="nav-icon fas fa-boxes"></i>
            <p>Product</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>