@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif !important;
  letter-spacing: 0.8px;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.aycawd-fullbg {
  height: 100vh;
  background: url('/img/dummy/wd-dummy-1.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.aycawd-fullbg-2 {
  height: 100vh;
  background: url('/img/dummy/wd-dummy-2.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.wd-title {
  font-size: 14px;
}

.wd-couplename {
  font-size: 40px;
  font-family: 'Parisienne', cursive !important;
}

.wd-for-txt {
  font-size: 18px;
  color: #e0c99d;
}

.wd-guestname {
  font-size: 26px;
  font-weight: bold;
}

.btn-open-invit {
  background-color: #e0c99d !important;
  border-color: #e0c99d !important;
  border-radius: 50px !important;
}

.btn-open-invit:hover {
  background-color: #f5dfb5 !important;
  border-color: #f5dfb5 !important;
}
