@import "~react-image-gallery/styles/css/image-gallery.css";

.spinner-loader {
  position: absolute;
  top: 45%;
  z-index: 1;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carousel-indicators li {
  background-color: #33BFA0 !important;
}

.slick-next:before, .slick-prev:before {
  color: #33BFA0 !important;
}

.slick-dots li.slick-active button:before {
  color: #33BFA0 !important;
}

.slick-dots li button:before {
  color: #33BFA0 !important;
}

.store-description span {
  font-family: "Poppins", sans-serif !important;
}

.pagination-wrapper {
  margin: 0 auto;
  display: block;
  text-align: center;
}
