/* phone */
@media (min-width: 280px) and (max-width: 480px) {
  .welcome-fullbg {
    height: 30rem;
  }

  .prayer-card {
    padding: 70px 0;
  }

  .prayer-card .text {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }

  .female-img,
  .male-img {
    height: 16rem;
  }

  .welcome-content {
    bottom: 2.5rem;
  }
}

/* tablet or phone with big screen */
@media (min-width: 481px) and (max-width: 767px) {
  .welcome-fullbg {
    height: 30rem;
  }

  .prayer-card {
    padding: 70px 0;
  }

  .prayer-card .text {
    line-height: 1.8rem;
    padding-right: 10px !important;
    padding-left: 10px !important;
  }

  .female-img,
  .male-img {
    height: 16rem;
  }

  .welcome-content {
    bottom: 2.5rem;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
}
